@import "tailwindcss";
@font-face {
  font-family: 'RostelecomBasis';
  src: url('./fonts/RostelecomBasis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RostelecomBasis';
  src: url('./fonts/RostelecomBasis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RostelecomBasis';
  src: url('./fonts/RostelecomBasis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RostelecomBasis';
  src: url('./fonts/RostelecomBasis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Применение шрифта по умолчанию */
body {
  font-family: 'RostelecomBasis', sans-serif;
}